.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--primary-color);
}

.about-us #logo {
    width: calc(100vw - 176px);
    margin: 32px 0;
    min-width: 80px;
    max-width: 200px;
}

.about-us .topics {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;

    color: white;
    text-align: center;
}

.about-us .topics .title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;

    max-width: 264px;
    min-width: 200px;
    width: calc(100vw - 64px);
    height: 56px;
    border-radius: 16px;

    margin-bottom: 16px;
}

.about-us .topics h1 {
    color: black;
    font-weight: 900;
}

.about-us .topics p {
    line-height: 1.2;
    
    width: calc(100vw - 160px);
    max-width: 360px;

    font-weight: 500;
}

.about-us #bottom-container {
    margin-bottom: 32px;
}

@media (max-height: 550px) {
    .about-us .topics .title-box {
        width: calc(100vw - 128px);
        height: 40px;
    }

    .about-us .topics p {
        width: calc(100vw - 128px);
        max-width: 360px;
    }
}