.contact {
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    transform: translateX(-100%);
    transition: 500ms;
}

.contact.show {
    transform: translateX(0%);
}

.contact .back {
    position: absolute;
    top: 32px;
    left: 24px;

    border: 2px solid var(--primary-color);
    padding: 8px;
    border-radius: 50%;

    width: 24px;
}

.contact .back:active {
    background-color: rgba(200,0,0,0.05);
}

.contact .logo {
    width: calc(100vw - 180px);
    min-width: 120px;
    max-width: 160px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5vh;
}

.contact .top h1{
    color: var(--primary-color);

    width: 240px;
    font-weight: 900;
    font-size: 1em;
    text-align: center;

    margin-top: 12px;
}
.contact .person-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.contact .person-info .people-img {
    border-radius: 50%;
    width: 140px;
}

.contact .person-info .names {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.contact .person-info .title {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 8px;

    margin-top: 12px;

    width: 190px;
}

.contact .person-info .description {
    text-align: center;
    background-color: var(--purple-color);
    border-radius: 0 0 8px 8px;

    font-size: 0.9em;

    width: 168px;
}

.contact .person-info .number {
    display: flex;
    align-items: center;
    margin: 4px 0 4px 0;
    margin-bottom: 24px;
}

.contact .person-info .number img {
    width: 24px;
    margin-right: 8px;
}

.contact .person-info .number h2 {
    color: rgb(69, 69, 69);
}

.contact .text-box {
    width: 200px;
    background-color: var(--primary-color);
    margin-bottom: 5vh;
    border-radius: 12px;
}

.contact .text-box h2 {
    font-size: 1em;
    text-align: center;
}

.contact #bottom-container {
    margin-bottom: 12px;
}

.contact #bottom-container h1 {
    color: rgba(240,0,0,0.2);
}

.contact #bottom-container #number-box {
    border-color: rgba(240,0,0,0.2);
}

@media (max-height: 650px) {
    .contact .person-info .title {    
        width: 160px;
    }
    
    .contact .person-info .description {    
        width: 140px;
    }

    .contact .person-info .people-img {
        width: 120px;
    }

    .contact #bottom-container {
        display: none;
    }
}

@media (max-height: 450px) {
    .contact .text-box {
        display: none;
    }
}