.executive-container {
    display: flex;
    background-color: #EEEEEE;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

.executive-container .logo {
    width: calc(100vw - 180px);
    min-width: 120px;
    max-width: 320px;

    margin-top: 12px;
}

.executive-container h1.board-title {
    text-align: center;
    font-weight: 900;
    color: var(--primary-color);
    
    line-height: 1.2;
    margin: 24px 0 12px 0;
}

.executive-container .arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    height: 200px;

    margin-bottom: 80px;
}

.executive-container .arrow-container .arrow {
    width: 40px;
    padding: 12px;
    margin: 16px;
    z-index: 1;

    position: relative;
}

.executive-container .meet-text {
    background-color: var(--primary-color);

    color: white;

    font-size: 1em;

    width: 240px;
    border-radius: 10px;

    text-align: center;
}

.executive-container #bottom-container {
    margin-bottom: 32px;
}

.executive-container #bottom-container h1 {
    color: rgba(240,0,0,0.2);
}

.executive-container #bottom-container #number-box {
    border-color: rgba(240,0,0,0.2);
}

.erase {
    z-index: -2;
}


@media (max-height: 630px) {
    .executive-container .logo {
        margin-top: 24px;
    }

    .executive-container .arrow-container .arrow {
        padding: 12px;
    }

    .executive-container h1.board-title {
        margin-top: 0px;
    }

    .executive-container .meet-text {
        margin-top: 8px;
        margin-bottom: 24px;
        width: 200px;
    }

    .executive-container #bottom-container {
        display: none;
    }
}

@media (min-height: 500px) {
    .executive-container {
        width: 100vw;
        height: 100vh;
    }
}