.executive-container {
    display: flex;
    background-color: #EEEEEE;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    width: 100vw;
}

.executive-container .second.spacer {
    flex: 0.4;
}

.executive-container .top {
}

.executive-container .top .logo {
    width: calc(100vw - 180px);
    min-width: 120px;
    max-width: 224px;
}

.executive-container .top .board-title {
    text-align: center;
    font-weight: 900;
    color: var(--primary-color);
    
    line-height: 1.2;
}

.executive-container .arrow-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 440px;
    width: 100vw;
    height: 200px;
    margin-bottom: 32px;
}

.executive-container .arrow-container .arrow {
    width: 40px;
    margin: 16px;
}

.executive-container .meet-text {
    background-color: var(--primary-color);

    color: white;

    font-size: 1em;

    width: 240px;
    border-radius: 10px;

    text-align: center;
}

.executive-container #bottom-container {
    margin-bottom: 32px;
}

.executive-container #bottom-container h1 {
    color: rgba(240,0,0,0.2);
}

.executive-container #bottom-container #number-box {
    border-color: rgba(240,0,0,0.2);
}

.executive-container .erase {
    opacity: 0;
}


@media screen and (max-height: 650px) {
    .executive-container .arrow-container .arrow {
        width: 32px;
    }

    .executive-container .board-title {
        margin-top: 0px;
    }

    .executive-container .meet-text {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 200px;
    }

    .executive-container #bottom-container {
        display: none;
    }

    .executive-container .second.spacer {
        flex: 0.5;
    }
}

@media screen and (min-height: 400px) {
    .executive-container {
        width: 100vw;
        height: 100vh;
    }
}