.home {
    display: flex;

    background-color: var(--primary-color);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome h2 {
    min-width: 200px;
    width: 40vw;
    font-size: 1.2em;
}

.welcome img {
    width: 100px;
    margin-bottom: 12px;
}

.welcome .logo {
    width: calc(100vw - 64px);
    min-width: 120px;
    max-width: 200px;

    height: auto;
}

.home #bottom-container {
    padding-bottom: 64px;
}

@media (max-height: 550px) {
    .home #bottom-container {
        padding-bottom: 12px;
    }
}

@media screen and (max-height: 450px) {
    .home .badge {
        display: none;
    }
}