#home-container {
    display: flex;

    background-color: var(--primary-color);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome-container h2 {
    min-width: 200px;
    width: 40vw;
    font-size: 1.2em;
}

#welcome-container img {
    width: 100px;
    margin-bottom: 12px;
}

#welcome-container #logo {
    margin: 24px 0px;
    width: auto;
    height: 128px;
}

#home-container #bottom-container {
    padding-bottom: 64px;
}

@media (max-height: 550px) {
    #home-container #bottom-container {
        padding-bottom: 12px;
    }
}

@media (min-height: 400px) {
    #home-container {
        width: 100vw;
        height: 100vh;
    }
}