.home {
    display: flex;

    background-color: var(--primary-color);

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
}

.home .spacer {
    flex: 0.1;
    
}

.home .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    justify-content: space-between;

    flex: 0.6;
}

.home .welcome h2 {
    min-width: 200px;
    width: 40vw;
    font-size: 1.4em;
}

.home .welcome .badge {
    width: 136px;
}

.home .welcome .logo {
    width: calc(100vw - 64px);
    min-width: 120px;
    max-width: 240px;

    height: auto;
}

.home #bottom-container {
    padding-bottom: 64px;
}

@media (max-height: 550px) {
    .home #bottom-container {
        padding-bottom: 12px;
    }

    .home .welcome h2 {
        font-size: 1.5em;
    }

    .home .welcome .logo {
        max-width: 160px;
        margin: 12px 0;
    }

    .home .welcome .badge {
        width: 80px;
    }
}

@media screen and (max-height: 450px) {
    .home .badge {
        display: none;
    }
}