@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #DA291C;
    --secundary-color: #E35E54;
    --purple-color: #761494;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans JP', sans-serif;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: 200ms;
}

h1, h2, h3, h4, h5 {
    color: white;
    font-size: 1.3em;
}

body {
}

.blocked {
    position: fixed;
}

button {
    background: none;
    outline: none;
    height: none;
    border: 0;
}

a {
    text-decoration: none;
}

.background {
    width: 100vw;
}

.menu-button {
    position: absolute;
    z-index: 0;
    background-color: white;

    top: 32px;
    left: 12px;

    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.menu-button img {
    width: 28px;
    height: 28px;
}

.menu-button:active {
    background-color: rgba(255,255,255,0.5);
}

#bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;

    font-weight: 900;
    font-size: 1.3em;
}

#bottom-container h1{
    text-align: center;
    color: var(--secundary-color);
}

#bottom-container #number-box {
    border: 4px solid var(--secundary-color);
    border-radius: 12px;

    width: 52px;
    height: 52px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    margin-right: 12px;
}

#bottom-container #number-box h1 {
    font-size: 2em;
}

#bottom-container .fraternity {
    line-height: 1.1;
}

@media (max-height: 550px) {
    * {
        font-size: 12px;
    }

    #bottom-container #number-box {
        width: 40px;
        height: 40px;
    }

    .menu-button {
        top: 12px;
        left: 12px;
    
        width: 56px;
        height: 56px;
    }
    
    .menu-button img {
        width: 24px;
        height: 24px;
    }
}