.phil {
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.phil .top .logo {
    width: calc(100vw - 180px);
    min-width: 120px;
    max-width: 240px;

    margin-bottom: 24px;
}

.phil .top h1 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1.6em;
}

.phil .buttons {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    margin-top: 64px;
    width: 100vw;
    height: 320px;
}

.phil .buttons button {

    width: calc(100vw - 72px);
    max-width: 304px;

    height: calc(15vw);
    max-height: 56px;

    border: 4px solid var(--primary-color);
    border-radius: 14px;
}

.phil .buttons button:active {
    background-color: rgba(0,0,0, 0.05);
}

.phil .buttons h1 {
    color: black;
}

@media screen and (max-height: 650px) {
    .phil .buttons {
        margin-top: 42px;
        height: 240px;
    }

    .phil .buttons button {
        height: 48px;
    }

    .phil .buttons h1 {
        font-size: 1.1em;
    }
}

@media screen and (max-height: 500px) {
    .phil .top .logo {
        display: none;
    }
    
    .phil .top h1 {
        font-size: 2em;
    }
}