.executive-container .slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
}

.executive-container .slide-container .people-img {
    border-radius: 50%;
    width: 140px;
}

.executive-container .slide-container .names {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.executive-container .slide-container .title {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 8px;

    margin-top: 12px;

    width: 190px;
}

.executive-container .slide-container .description {
    text-align: center;
    background-color: var(--purple-color);
    border-radius: 0 0 8px 8px;

    font-size: 0.9em;

    width: 168px;
}

.executive-container .slide-container .number {
    display: flex;

    margin: 4px 0 4px 0;
}

.executive-container .slide-container .number img {
    width: 24px;
    margin-right: 8px;
}

.executive-container .slide-container .number h2 {
    color: rgb(69, 69, 69);
}

.executive-container .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.hide {
    display: none !important;
}

@media (max-height: 630px) {
    .executive-container .slide-container .title {    
        width: 160px;
    }
    
    .executive-container .slide-container .description {    
        width: 140px;
    }

    .executive-container .slide-container .people-img {
        width: 120px;
    }
}